.gallery {
  position: relative;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  padding-bottom: 80px;
}

.gallery__container {
    max-width: 1440px;
    margin: 0 auto;
}

.gallery__body {
    display: grid;
    gap: 10px;
}

.gallery__up {
    display: flex;
    gap:10px;
}

.dyson__picture {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.dyson__picture img {
    transition: 1s; 
    display: block;
    cursor: pointer;
}

.dyson__picture img:hover {
    transform: scale(1.1);
    filter: blur(10px);
}

.dyson__picture p {
    position: absolute;
    right: 31px;
    bottom: 22px;
    font-weight: 500;
    font-size: 23px;
    line-height: 31px;
    color: #000000;
    cursor: pointer;
}

.iphone__picture {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.iphone__picture img {
    transition: 1s; 
    display: block;
    cursor: pointer;
}

.iphone__picture img:hover {
    transform: scale(1.1);
    filter: blur(10px);
}

.iphone__picture p {
    position: absolute;
    right: 134px;
    bottom: 22px;
    font-weight: 500;
    font-size: 23px;
    line-height: 31px;
    color: #000000;
    cursor: pointer;
}


.gallery__down {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.gallery__down img {
    width: 100%;
    transition: 1s; 
    display: block;
    cursor: pointer;
}

.gallery__down img:hover {
    transform: scale(1.1);
    filter: blur(10px);
}

.gallery__down p {
    position: absolute;
    right: 134px;
    bottom: 40px;
    font-weight: 500;
    font-size: 23px;
    line-height: 31px;
    color: #FFFFFF;
    cursor: pointer;
}